@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Lato&display=swap");

:root {
  --principal: #f5333f;
  --secundario: black;
  --textos: rgb(78, 64, 64);
  --fondoSeccion: rgb(235, 241, 247);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--textos);
  font-family: "Lato", sans-serif;
}

body {
  background-color: lightgrey;
}

/* main */
.main {
  width: 55%;
  margin: 0 auto;
}

/* header */
.header {
  width: 100%;
  padding: 2rem;
  background-color: white;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

/* contenido */
.contenido {
  width: 100%;
}

/* noticia */
.noticia {
  width: 100%;
}

.noticia__cabecera {
  padding: 2rem;
  background-color: var(--principal);
}

.noticia__cabecera h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.noticia__cabecera p {
  color: white;
}

.noticia__img {
  width: 100%;
  background-color: white;
}

.noticia__img img {
  width: 100%;
}

.noticia__cuerpo {
  padding: 2rem;
  background-color: white;
}

.noticia__cuerpo p {
  margin-bottom: 1rem;
}

/* galeria */
.galeria {
  background-color: var(--fondoSeccion);
  padding: 2rem;
}

.galeria__cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.galeria__cabecera i {
  color: var(--principal);
  font-size: 3rem;
}

.galeria__cabecera h2 {
  color: var(--secundario);
  font-size: 2rem;
  font-family: "Comfortaa", cursive;
}

.galeria__cuerpo {
  height: auto;
  margin-bottom: 2rem;
  display: grid;
  /* grid-template-columns: repeat(autofill, minmax(150px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px 300px;
  grid-template-areas:
    "uno uno uno dos"
    "uno uno uno tres"
    "cuatro cuatro cinco cinco";
  grid-gap: 10px;
}

.uno {
  grid-area: uno;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dos {
  grid-area: dos;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tres {
  grid-area: tres;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cuatro {
  grid-area: cuatro;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cinco {
  grid-area: cinco;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.galeria__completa {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}

.contenedor-interno {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.contenedor-interno img {
  max-width: 60%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button i {
  color: white;
}

.cerrar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 2.2rem;
  color: white;
}

.izquierda {
  position: fixed;
  top: 50%;
  left: 2rem;
  font-size: 2.2rem;
  color: white;
}

.derecha {
  position: fixed;
  top: 50%;
  right: 2rem;
  font-size: 2.2rem;
  color: yellow;
}

.indice {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.indice span {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.galeria__boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria__boton a {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--secundario);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.galeria__boton a:hover {
  background-color: var(--principal);
  transition: all 0.2s ease;
}

/* declaraciones */
.declaraciones {
  padding: 2rem;
  background-color: white;
}

.declaraciones__cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.declaraciones__cabecera i {
  color: var(--principal);
  font-size: 3rem;
}

.declaraciones__cabecera h2 {
  color: var(--secundario);
  font-size: 2rem;
  font-family: "Comfortaa", cursive;
}

.primera_declaracion {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.segunda_declaracion {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 4rem;
}

.declaracion_contenido {
  flex-basis: 50%;
}

.declaracion_contenido__cabecera {
  margin-bottom: 2rem;
}

.declaracion_contenido__cabecera h3 {
  font-size: 2rem;
  color: var(--principal);
}

.declaracion_contenido__cabecera span {
  font-size: 1.5rem;
}

.declaracion_img {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.declaracion_img img {
  width: 100%;
}

.declaracion_img a {
  font-weight: bold;
  text-decoration: none;
}

.declaracion_img a:hover {
  color: var(--principal);
}

/* clasificacion */
.clasificacion {
  padding: 2rem;
  background-color: var(--fondoSeccion);
}

.clasificacion__cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.clasificacion__cabecera i {
  color: var(--principal);
  font-size: 3rem;
}

.clasificacion__cabecera h2 {
  color: var(--secundario);
  font-size: 2rem;
  font-family: "Comfortaa", cursive;
}

.clasificacion__cuerpo {
  margin-bottom: 2rem;
}

.clasificacion__cuerpo table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.clasificacion__cuerpo table tbody tr td {
  padding: 10px 5px;
  border-bottom: 2px solid var(--principal);
}

.clasificacion__cuerpo table .tiempo {
  text-align: end;
}

.clasificacion__cuerpo table .arriba {
  background-color: lightgrey;
}

.clasificacion__cuerpo table .abajo {
  font-weight: bold;
  background-color: white;
}

.clasificacion__boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clasificacion__boton a {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--secundario);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.clasificacion__boton a:hover {
  background-color: var(--principal);
  transition: all 0.2s ease;
}

/* footer */
.footer {
  background-color: white;
}

.footer table {
  margin: 0 auto;
  border-spacing: 50px 0px;
  padding: 2rem;
}

.footer table th {
  padding: 10px 0;
}

.baja {
  width: 100%;
}

.baja a {
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: var(--secundario);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.baja a:hover {
  background-color: var(--principal);
  transition: all 0.2s ease;
}
