@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --principal: #2274af;
  --secundario: black;
  --textos: rgb(78, 64, 64);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--textos);
  font-family: "Oswald", sans-serif;
}

body,
html {
  background-color: lightgrey;
  overflow-x: hidden;
  width: 100vw;
}

/* main */
.main {
  width: 55%;
  margin: 0 auto;
}

/* idioma */
.idioma {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  background-color: var(--secundario);
}

.idioma a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.idioma a:hover {
  color: var(--principal);
  transition: all 0.2s ease;
}

.idioma .activa {
  color: var(--principal);
}

/* header */
.header {
  width: 100%;
  padding: 2rem;
  background-color: white;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

/* contenido */
.contenido {
  width: 100%;
}

/* noticia */
.noticia {
  width: 100%;
}

.noticia__cabecera {
  padding: 2rem;
  background-color: var(--principal);
}

.noticia__cabecera h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.noticia__cabecera p {
  color: white;
}

.noticia__img {
  max-height: 100%;
  object-fit: cover;
  background-color: white;
}

.noticia__img img {
  width: 100%;
}

.noticia__cuerpo {
  padding: 2rem;
  background-color: white;
}

.noticia__cuerpo p {
  margin-bottom: 1rem;
}

/* galeria */
.galeria {
  background-color: var(--secundario);
  padding: 2rem;
}

.galeria__cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.galeria__cabecera i {
  color: var(--principal);
  font-size: 3rem;
}

.galeria__cabecera h2 {
  color: white;
  font-size: 2rem;
}

.galeria__cuerpo {
  max-height: 300px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* .galeria__cuerpo__img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.galeria__cuerpo__img img {
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.galeria__cuerpo__img img:hover {
  transform: scale(1.2);
  filter: brightness(0.4);
  transition: all 0.2s ease;
} */

.album {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.album img {
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
  filter: brightness(0.4);
}

.album img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.album__texto {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.album__texto span {
  color: white;
  font-weight: bold;
}

.uno {
  grid-area: uno;
  cursor: pointer;
}

.dos {
  grid-area: dos;
  cursor: pointer;
}

.tres {
  grid-area: tres;
  cursor: pointer;
}

.cuatro {
  grid-area: cuatro;
  cursor: pointer;
}

.cinco {
  grid-area: cinco;
  cursor: pointer;
}

.galeria__completa {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}

.contenedor-interno {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.contenedor-interno img {
  max-width: 60%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button i {
  color: white;
}

.cerrar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 2.2rem;
}

.cerrar i {
  color: rgba(255, 255, 255, 0.8);
}

.cerrar i:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease;
}

.izquierda {
  position: fixed;
  top: 50%;
  left: 2rem;
  font-size: 2.2rem;
}

.izquierda i {
  color: rgba(255, 255, 255, 0.8);
}

.izquierda i:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease;
}

.derecha {
  position: fixed;
  top: 50%;
  right: 2rem;
  font-size: 2.2rem;
}

.derecha i {
  color: rgba(255, 255, 255, 0.8);
}

.derecha i:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease;
}

.indice {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.indice span {
  color: white;
  font-size: 1.2rem;
}

.galeria__boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria__boton a {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--principal);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.galeria__boton a:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
}

/* declaraciones */
.declaraciones {
  padding: 2rem;
  background-color: white;
}

.declaraciones__cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.declaraciones__cabecera i {
  color: var(--principal);
  font-size: 3rem;
}

.declaraciones__cabecera h2 {
  color: var(--secundario);
  font-size: 2rem;
}

.primera_declaracion {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.segunda_declaracion {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 4rem;
}

.declaracion_contenido {
  flex-basis: 50%;
}

.declaracion_contenido__cabecera {
  margin-bottom: 2rem;
}

.declaracion_contenido__cabecera h3 {
  font-size: 2rem;
  color: var(--principal);
}

.declaracion_contenido__cabecera span {
  font-size: 1.5rem;
  font-style: italic;
}

.declaracion_img {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.declaracion_img img {
  width: 100%;
}

.declaracion_img a {
  font-weight: bold;
  text-decoration: none;
}

.declaracion_img a:hover {
  color: var(--principal);
}

/* clasificacion */
.clasificacion {
  padding: 2rem;
  background-color: var(--secundario);
}

.clasificacion__cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.clasificacion__cabecera i {
  color: var(--principal);
  font-size: 3rem;
}

.clasificacion__cabecera h2 {
  color: white;
  font-size: 2rem;
  line-height: 1;
}

.clasificacion__cabecera span {
  color: var(--principal);
  font-size: 1.5rem;
  font-style: italic;
}

.clasificacion__cuerpo {
  margin-bottom: 2rem;
}

.clasificacion__cuerpo table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.clasificacion__cuerpo table tbody tr td {
  padding: 10px 5px;
  border-bottom: 2px solid var(--principal);
}

.clasificacion__cuerpo table .tiempo {
  text-align: end;
}

.clasificacion__cuerpo table .arriba {
  background-color: lightgrey;
}

.clasificacion__cuerpo table .abajo {
  font-weight: bold;
  background-color: white;
}

.clasificacion__boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clasificacion__boton a {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--principal);
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.clasificacion__boton a:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
}

/* rrss */
.rrss {
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid var(--secundario);
}

.rrss i {
  font-size: 2.5rem;
  color: var(--principal);
}

.rrss i:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
}

/* footer */
.footer {
  background-color: white;
}

.footer table {
  margin: 0 auto;
  border-spacing: 50px 0px;
  padding: 2rem;
}

.footer table th {
  padding: 10px 0;
}

.baja {
  width: 100%;
}

.baja a {
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: var(--secundario);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.baja a:hover {
  background-color: var(--principal);
  transition: all 0.2s ease;
}

/* responsive */
@media screen and (max-width: 770px) {
  /* main */
  .main {
    width: 100%;
  }

  .header,
  .noticia__cabecera,
  .noticia__cuerpo,
  .galeria,
  .declaraciones,
  .clasificacion,
  .footer table {
    padding: 1rem;
  }

  .galeria__cabecera i,
  .declaraciones__cabecera i,
  .clasificacion__cabecera i {
    font-size: 2rem;
  }

  .galeria__cabecera h2,
  .declaraciones__cabecera h2,
  .clasificacion__cabecera h2 {
    font-size: 1.5rem;
  }

  .noticia__cabecera h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .galeria__cuerpo {
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "uno"
      "dos"
      "tres"
      "cuatro"
      "cinco";
  }

  .cerrar {
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
  }

  .izquierda {
    left: 1rem;
    font-size: 1.5rem;
  }

  .derecha {
    right: 1rem;
    font-size: 1.5rem;
  }

  .primera_declaracion {
    flex-direction: column;
  }

  .segunda_declaracion {
    flex-direction: column;
  }

  .declaracion_contenido__cabecera h3 {
    font-size: 1.2rem;
  }

  .declaracion_contenido__cabecera span {
    font-size: 1rem;
  }

  .footer table {
    border-spacing: 10px 0px;
    width: 100%;
  }
}
